<div class="base">
  <div class="login">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>

        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          placeholder="Enter your Email"
          aria-describedby="emailHelp"
          formControlName="email"
        />
        <span *ngIf="(loginForm.controls['email'].touched || loginForm.controls['email'].dirty) && loginForm.controls['email'].invalid" style="color: red;">Enter correct Email</span>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>

        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Enter your Password"
          formControlName="password"
        />
        <span *ngIf="(loginForm.controls['password'].touched || loginForm.controls['password'].dirty) && loginForm.controls['password'].invalid" style="color: red;">Password length should be minimum 8 characters</span>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
    </form>
  </div>
</div>
